{
  "arrowParens": "always",
  "semi": true,
  "trailingComma": "es5",
  "singleAttributePerLine": true,
  "singleQuote": true,
  "jsxSingleQuote": false,
  "tabWidth": 2,
  "plugins": ["prettier-plugin-tailwindcss", "@trivago/prettier-plugin-sort-imports"],
  "tailwindFunctions": ["clsx", "cn", "cva"],
  "pluginSearchDirs": false,
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
